<launch>
    <arg name="open_browser" default="true"/>
    <arg name="fullscreen" default="false"/>
    <arg name="face_behavior_delay"/>

    <node pkg="user_interface" type="web.sh" name="user_interface" args="$(arg open_browser) $(arg fullscreen)" launch-prefix="bash -c 'sleep $(arg face_behavior_delay); $0 $@' "/>

</launch>
