<launch>
    <arg name="pulse_audio_sink"/>

    <!-- Screen -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="9090"/>
    </include>

    <!-- Sound -->
    <node pkg="audio_utils" type="playback_node" name="playback_node" respawn="true">
        <param name="backend" value="pulse_audio"/>
        <param name="device" value="$(arg pulse_audio_sink)"/>
        <param name="format" value="float"/>
        <param name="channel_count" value="1"/>
        <param name="sampling_frequency" value="16000"/>
        <param name="frame_sample_count" value="1024"/>

        <remap from="audio_in" to="audio_output_float_16000"/>
    </node>

</launch>
