<launch>
    <arg name="online" default="false"/>
    <arg name="verify_ssl" default="false"/>

    <include file="$(find t_top)/launch/opentera_teleop.launch">
        <arg name="is_stand_alone" value="$(eval not arg('online'))"/>
        <arg name="verify_ssl" value="$(arg verify_ssl)"/>
    </include>

    <node pkg="t_top_opentera" type="t_top_opentera_node" name="t_top_opentera_node"/>
</launch>
