[submodule "ros/opentera-webrtc-ros"]
	path = ros/opentera-webrtc-ros
	url = https://github.com/introlab/opentera-webrtc-ros.git
[submodule "ros/perceptions/odas_ros"]
	path = ros/perceptions/odas_ros
	url = https://github.com/introlab/odas_ros.git
[submodule "ros/utils/recorders/3rd_party/SQLiteCpp"]
	path = ros/utils/recorders/3rd_party/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "ros/demos/home_logger/3rd_party/fmt"]
	path = ros/demos/home_logger/3rd_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ros/utils/audio_utils"]
	path = ros/utils/audio_utils
	url = https://github.com/introlab/audio_utils.git
[submodule "ros/utils/hbba_lite"]
	path = ros/utils/hbba_lite
	url = https://github.com/introlab/hbba_lite.git
[submodule "system/optional"]
	path = system/optional
	url = https://github.com/TartanLlama/optional.git
