<launch>
    <arg name="visualization" default="false"/>
    <arg name="simulation" default="false"/>
    <arg name="camera_2d_wide_enabled" default="false"/>
    <arg name="use_echo_cancellation" default="true"/>
    <arg name="neural_network_inference_type" default="trt_gpu"/>
    <arg name="is_stand_alone" default="false"/>
    <arg name="verify_ssl" default="true"/>
    <arg name="fullscreen" default="false"/>

    <!-- Platform nodes -->
    <include file="$(find t_top)/launch/platform.launch">
        <arg name="use_echo_cancellation" value="$(arg use_echo_cancellation)"/>
        <arg name="camera_2d_wide_enabled" value="$(arg camera_2d_wide_enabled)"/>
        <arg name="opentera_playback_node_enabled" value="true"/>
    </include>

    <!-- Perceptions -->
    <include file="$(find t_top)/launch/perceptions/ego_noise_reduction.launch"/>

    <include file="$(find t_top)/launch/perceptions/odas.launch">
        <arg name="visualization" value="$(arg visualization)"/>
        <arg name="rviz" value="false"/>
        <arg name="use_echo_cancellation" value="$(arg use_echo_cancellation)"/>
    </include>

    <include file="$(find t_top)/launch/perceptions/video_analyzer.launch">
        <arg name="camera_2d_wide_enabled" value="$(arg camera_2d_wide_enabled)"/>
        <arg name="visualization" value="$(arg visualization)"/>
        <arg name="neural_network_inference_type" value="$(arg neural_network_inference_type)"/>

        <arg name="video_analyzer_3d_pose_enabled" value="true"/>
        <arg name="video_analyzer_3d_face_descriptor_enabled" value="false"/>

        <arg name="video_analyzer_2d_wide_pose_enabled" value="false"/>
        <arg name="video_analyzer_2d_wide_face_descriptor_enabled" value="false"/>
    </include>


    <!-- Behaviors -->
    <include file="$(find t_top)/launch/behaviors/opentera.launch">
        <arg name="is_stand_alone" value="$(arg is_stand_alone)"/>
        <arg name="verify_ssl" value="$(arg verify_ssl)"/>
        <arg name="use_robot_gui" value="false"/>
        <arg name="use_outgoing_face_cropping" value="true"/>
    </include>

    <include file="$(find t_top)/launch/behaviors/face_following.launch">
        <arg name="simulation" value="$(arg simulation)"/>
    </include>

    <!-- GUI -->
    <node pkg="connect4" type="connect4_node" name="connect4_node" output="screen">
        <param name="fullscreen" value="$(arg fullscreen)"/>
    </node>

    <!-- Video Recording -->
    <include file="$(find t_top)/launch/recording.launch">
        <arg name="camera_2d_wide_enabled" value="$(arg camera_2d_wide_enabled)"/>
    </include>

</launch>
