<launch>
    <arg name="language" default="en"/> <!-- Options: fr or en -->
    <arg name="gender" default="male"/> <!-- Options: female or male -->
    <arg name="voice_generator_type" default="piper"/> <!-- Options: google or piper -->
    <arg name="speaking_rate" default="1.0"/> <!-- Range: [0.25, 4.0] -->

    <node pkg="talk" type="talk_node.py" name="talk_node" output="screen">
        <param name="language" value="$(arg language)"/>
        <param name="gender" value="$(arg gender)"/>
        <param name="generator_type" value="$(arg voice_generator_type)"/>
        <param name="speaking_rate" value="$(arg speaking_rate)"/>
        <param name="cache_size" value="2"/>
        <param name="mouth_signal_gain" value="0.04"/>
        <param name="sampling_frequency" value="16000"/>
        <param name="frame_sample_count" value="1024"/>

        <remap from="audio_out" to="audio_float_16000"/>
        <remap from="audio_out/filter_state" to="talk/filter_state"/>
    </node>

    <node if="$(eval arg('voice_generator_type') == 'piper')" pkg="piper_ros" type="piper_node" name="piper_node">
        <param name="use_gpu_if_available" value="true"/>
    </node>

    <node pkg="audio_utils" type="playback_node" name="playback_node" respawn="true">
        <param name="backend" value="alsa"/>
        <param name="device" value="default"/>
        <param name="format" value="float"/>
        <param name="channel_count" value="1"/>
        <param name="sampling_frequency" value="16000"/>
        <param name="frame_sample_count" value="1024"/>
        <param name="latency_us" value="64000"/>

        <remap from="audio_in" to="audio_float_16000"/>
    </node>

</launch>
