<launch>
    <arg name="language" default="fr"/>  <!-- Options: fr or en -->
    <arg name="camera_2d_wide_enabled" default="false"/>
    <arg name="record_session" default="false"/>
    <arg name="log_perceptions" default="false"/>

    <node pkg="recorders" type="perception_logger_node" name="perception_logger_node">
        <param name="database_path" value="$(env HOME)/.ros/ttop/recordings/perception_log.db"/>
        <param name="frame_id" value="odas"/>

        <remap from="video_analysis" to="camera_3d/video_analysis"/>
    </node>

    <node pkg="home_logger" type="home_logger_node" name="home_logger_node" output="screen">
        <param name="language" value="$(arg language)"/>

        <param name="english_string_resource_path" value="$(find home_logger)/resources/strings_en.properties"/>
        <param name="french_string_resources_path" value="$(find home_logger)/resources/strings_fr.properties"/>
        <param name="database_path" value="$(find home_logger)/home_logger.db"/>

        <param name="sleep_time_hour" value="22"/>
        <param name="sleep_time_minute" value="0"/>
        <param name="wake_up_time_hour" value="7"/>
        <param name="wake_up_time_minute" value="0"/>

        <param name="alarm_path" value="$(find home_logger)/resources/alarm.mp3"/>
        <param name="face_descriptor_threshold" value="0.7"/>
        <param name="nose_confidence_threshold" value="0.4"/>

        <param name="camera_2d_wide_enabled" value="$(arg camera_2d_wide_enabled)"/>

        <param name="record_session" value="$(arg record_session)"/>
        <param name="log_perceptions" value="$(arg log_perceptions)"/>

        <remap from="video_analysis" to="camera_3d/video_analysis"/>
    </node>

    <include file="$(find t_top)/launch/bringup.launch">
        <arg name="language" value="$(arg language)"/>
        <arg name="camera_2d_wide_enabled" value="$(arg camera_2d_wide_enabled)"/>
        <arg name="slam" value="false"/>
        <arg name="fullscreen_face" value="true"/>
        <arg name="record_session" value="$(arg record_session)"/>
    </include>

</launch>
