<launch>
    <arg name="odas_configuration_path" default="$(find t_top)/config/configuration_16SoundsUSB.cfg"/>
    <arg name="visualization" default="false"/>

    <!-- ODAS -->
    <node pkg="odas_ros" type="odas_server_node.py" name="odas_server_node" respawn="true">
        <param name="configuration_path" value="$(arg odas_configuration_path)"/>
        <param name="frame_id" value="odas"/>

        <remap from="sss" to="audio_signed_16_44100"/>
        <remap from="sst" to="audio_sst"/>
    </node>
    <node if="$(arg visualization)" pkg="odas_ros" type="odas_visualization_node.py" name="odas_visualization_node">
        <param name="configuration_path" value="$(arg odas_configuration_path)"/>

        <remap from="sst" to="audio_sst"/>
    </node>

</launch>
