<launch>
    <arg name="odas_configuration_path" default="$(find t_top)/config/configuration_16SoundsUSB.cfg"/>
    <arg name="visualization" default="false"/>
    <arg name="rviz" default="false"/>
    <arg name="rviz_cfg" default="-d $(find odas_ros)/config/rviz/odas_rviz.rviz"/>
    <arg name="use_echo_cancellation" default="false"/>

    <!-- ODAS -->
    <node unless="$(arg use_echo_cancellation)" pkg="odas_ros" type="odas_server_node.py" name="odas_server_node" respawn="true">
        <param name="configuration_path" value="$(arg odas_configuration_path)"/>
        <param name="frame_id" value="odas"/>

        <remap from="raw" to="odas_audio_signed_32_44100"/>
        <remap from="ssl" to="audio_ssl"/>
        <remap from="sst" to="audio_sst"/>
        <remap from="sss" to="audio_signed_16_44100"/>
    </node>
    <node if="$(arg use_echo_cancellation)" pkg="odas_ros" type="odas_echocancel_filter_server_node.py" name="odas_server_node" respawn="true">
        <param name="configuration_path" value="$(arg odas_configuration_path)"/>
        <param name="frame_id" value="odas"/>

        <remap from="raw" to="odas_audio_signed_32_44100"/>
        <remap from="ssl" to="audio_ssl"/>
        <remap from="sst" to="audio_sst"/>
        <remap from="sss" to="audio_signed_16_44100"/>
        <remap from="ec_signal" to="audio_signed_16_44100"/>
    </node>
    <node if="$(eval arg('visualization') or arg('rviz'))" pkg="odas_ros" type="odas_visualization_node.py" name="odas_visualization_node">
        <param name="configuration_path" value="$(arg odas_configuration_path)"/>

        <remap from="ssl" to="audio_ssl"/>
        <remap from="sst" to="audio_sst"/>
    </node>

    <!-- Rviz -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="$(arg rviz_cfg)"/>

</launch>
