<launch>
    <include file="$(find t_top)/launch/platform/opencr.launch"/>

    <node type="capture_node" pkg="audio_utils" name="capture_node" output="screen">
        <param name="backend" value="alsa"/>
        <param name="device" value="default"/>
        <param name="format" value="signed_32"/>
        <param name="channel_count" value="16"/>
        <param name="sampling_frequency" value="44100"/>
        <param name="frame_sample_count" value="2048"/>
        <param name="merge" value="false"/>
        <param name="gain" value="1.0"/>
        <param name="latency_us" value="40000"/>

        <remap from="audio_out" to="odas_audio_signed_32_44100"/>
    </node>

    <node pkg="ego_noise_reduction" type="data_gathering.py" name="data_gathering">
        <remap from="audio_in" to="odas_audio_signed_32_44100"/>
    </node>

</launch>
