<launch>
    <!-- OpenCR serial comm launch -->
    <node pkg="rosserial_python" type="serial_node.py" name="rosserial" >
        <param name="port" value="/dev/OPENCR"/>
        <param name="baud" value="1000000"/>
    </node>

    <node pkg="audio_utils" type="capture_node" name="capture_node" output="screen">
        <param name="backend" value="pulse_audio"/>
        <param name="device" value="alsa_input.usb-IntRoLab_16SoundsUSB_Audio_2.0-00.multichannel-input"/>
        <param name="format" value="signed_32"/>
        <param name="channel_count" value="16"/>
        <param name="sampling_frequency" value="16000"/>
        <param name="frame_sample_count" value="1024"/>
        <param name="merge" value="false"/>
        <param name="gain" value="1.0"/>
        <param name="latency_us" value="64000"/>

        <remap from="audio_out" to="audio_signed_32_16000"/>

        <rosparam param="channel_map">
            [front-left, front-right, rear-left, rear-right, front-center, lfe, side-left, side-right, aux0, aux1, aux2, aux3, aux4, aux5, aux6, aux7]
        </rosparam>
    </node>

    <node pkg="ego_noise_reduction" type="data_gathering.py" name="data_gathering" output="screen">
        <param name="n_fft" value="1024"/>
        <param name="sampling_frequency" value="16000"/>
        <param name="channel_count" value="16"/>

        <remap from="audio_in" to="audio_signed_32_16000"/>
    </node>

</launch>
