<launch>
    <arg name="language" default="en"/>  <!-- Options: fr or en -->

    <arg name="output" default="log"/>

    <node pkg="smart_speaker" type="smart_speaker_rss_node" name="smart_speaker_rss_node" output="screen" launch-prefix="bash -c 'sleep 60; $0 $@' ">
        <param name="language" value="$(arg language)"/>
        <param name="story_path_en" value="$(find smart_speaker)/story_en.txt"/>
        <param name="story_path_fr" value="$(find smart_speaker)/story_fr.txt"/>
        <param name="song_path" value="$(find smart_speaker)/admiralbob_wanderer.mp3"/>
        <param name="after_task_delay_duration_s" value="5"/>
    </node>

    <include file="$(find t_top)/launch/bringup.launch">
        <arg name="language" value="$(arg language)"/>
        <arg name="slam" value="false"/>
        <arg name="output" value="$(arg output)"/>
    </include>
</launch>
