<launch>
    <arg name="filename_in"/>
    <arg name="filename_out"/>

    <node pkg="rosbag" type="play" name="rosbag" args="$(arg filename_in)" required="true"/>
    <node name="image_uncompress" pkg="image_transport" type="republish" output="screen" respawn="true" args="compressed in:=/camera/color/image_raw raw out:=/camera/color/image_raw"/>
    <node name="transcode" pkg="smart_speaker" type="video_recorder.py" output="screen">
         <param name="filename_out" value="$(arg filename_out)"/>
    </node>
</launch>
