<launch>

    <!-- Screen -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="9090"/>
    </include>
    <node pkg="user_interface" type="web.sh" name="user_interface"/>

    <!-- Sound -->
    <node pkg="audio_utils" type="alsa_playback_node" name="alsa_playback_node">
        <param name="device" value="plughw:CARD=D20,DEV=0"/>
        <param name="format" value="float"/>
        <param name="channel_count" value="1"/>
        <param name="sampling_frequency" value="44100"/>
        <param name="frame_sample_count" value="256"/>
        <param name="latency_us" value="400"/>

        <remap from="audio_in" to="audio_float_44100"/>
    </node>

</launch>
