<launch>
    <arg name="language"/> <!-- Options: fr or en -->
    <arg name="camera_2d_wide_enabled"/>
    <arg name="speaking_rate"/> <!-- Range: [0.25, 4.0] -->
    <arg name="gender"/>
    <arg name="simulation"/>
    <arg name="open_browser" default="true"/>
    <arg name="fullscreen_face" default="false"/>

    <!-- Telepresence -->
    <!-- See opentera-webrtc-ros -->

    <!-- Emotions -->
    <!-- See user_interface -->
    <include file="$(find t_top)/launch/behaviors/face.launch">
        <arg name="open_browser" value="$(arg open_browser)"/>
        <arg name="fullscreen" value="$(arg fullscreen_face)"/>
    </include>
    <include file="$(find t_top)/launch/behaviors/led_emotions.launch"/>

    <!-- Talk -->
    <include file="$(find t_top)/launch/behaviors/talk.launch">
        <arg name="language" value="$(arg language)"/>
        <arg name="speaking_rate" value="$(arg speaking_rate)"/>
        <arg name="gender" value="$(arg gender)"/>
    </include>

    <!-- Gesture -->
    <include file="$(find t_top)/launch/behaviors/gesture.launch">
        <arg name="simulation" value="$(arg simulation)"/>
    </include>

    <!-- Sound Following -->
    <include file="$(find t_top)/launch/behaviors/sound_following.launch">
        <arg name="simulation" value="$(arg simulation)"/>
    </include>

    <!-- Face Following -->
    <include file="$(find t_top)/launch/behaviors/face_following.launch">
        <arg name="simulation" value="$(arg simulation)"/>
    </include>

    <!-- Sound Object Person Following -->
    <include file="$(find t_top)/launch/behaviors/sound_object_person_following.launch">
        <arg name="simulation" value="$(arg simulation)"/>
        <arg name="camera_2d_wide_enabled" value="$(arg camera_2d_wide_enabled)"/>
    </include>

    <!-- Dance -->
    <include file="$(find t_top)/launch/behaviors/dance.launch"/>

    <!-- Explore -->
    <include file="$(find t_top)/launch/behaviors/explore.launch">
        <arg name="simulation" value="$(arg simulation)"/>
    </include>

    <!-- Sound Player -->
    <include file="$(find t_top)/launch/behaviors/sound_player.launch"/>

</launch>
