<launch>
    <arg name="language" default="en"/>  <!-- Options: fr or en -->
    <arg name="neural_network_inference_type" default="trt_gpu"/>
    <arg name="visualization" default="false"/>
    <arg name="slam" default="true"/>
    <arg name="simulation" default="false"/>
    <arg name="output" default="log"/>

    <include file="$(find t_top)/launch/platform.launch"/>

    <include file="$(find t_top)/launch/perceptions.launch">
        <arg name="language" value="$(arg language)"/>
        <arg name="neural_network_inference_type" value="$(arg neural_network_inference_type)"/>
        <arg name="visualization" value="$(arg visualization)"/>
        <arg name="slam" value="$(arg slam)"/>
        <arg name="output" value="$(arg output)"/>
    </include>
    <include file="$(find t_top)/launch/behaviors.launch">
        <arg name="language" value="$(arg language)"/>
        <arg name="simulation" value="$(arg simulation)"/>
    </include>

    <node pkg="cloud_data" type="cloud_data_node.py" name="cloud_data_node">
        <param name="language" value="$(arg language)"/>
        <param name="timeout_s" value="2"/>
    </node>
</launch>
