<launch>
    <arg name="use_echo_cancellation" default="false"/>

    <arg name="language" default="en"/>  <!-- Options: fr or en -->
    <arg name="gender" default="male"/> <!-- Options: female or male -->
    <arg name="voice_generator_type" default="piper"/> <!-- Options: google or piper -->
    <arg name="speaking_rate" default="1.0"/> <!-- Range: [0.25, 4.0] -->
    <arg name="speech_to_text_type" default="whisper"/> <!-- Options: google or whisper -->
    <arg name="whisper_model" default="base"/> <!-- Options: tiny, base, small, medium -->

    <arg name="camera_2d_wide_enabled" default="false"/>
    <arg name="neural_network_inference_type" default="trt_gpu"/>

    <arg name="video_analyzer_3d_use_descriptor_yolo" default="false"/>
    <arg name="video_analyzer_3d_yolo_model" default="yolo_v7_tiny_coco"/>
    <arg name="video_analyzer_3d_pose_enabled" default="true"/>
    <arg name="video_analyzer_3d_face_descriptor_enabled" default="true"/>
    <arg name="video_analyzer_3d_cropped_image_enabled" default="false"/>

    <arg name="video_analyzer_2d_wide_use_descriptor_yolo" default="false"/>
    <arg name="video_analyzer_2d_wide_yolo_model" default="yolo_v7_coco"/>
    <arg name="video_analyzer_2d_wide_pose_enabled" default="false"/>
    <arg name="video_analyzer_2d_wide_face_descriptor_enabled" default="false"/>
    <arg name="video_analyzer_2d_wide_cropped_image_enabled" default="false"/>

    <arg name="video_analyzer_confidence_threshold" default="0.5"/>
    <arg name="video_analyzer_nms_threshold" default="0.5"/>
    <arg name="video_analyzer_person_probability_threshold" default="0.75"/>
    <arg name="video_analyzer_pose_confidence_threshold" default="0.4"/>

    <arg name="audio_analyzer_voice_probability_threshold" default="0.5"/>
    <arg name="audio_analyzer_class_probability_threshold" default="0.8"/>

    <arg name="visualization" default="false"/>
    <arg name="slam" default="true"/>
    <arg name="simulation" default="false"/>
    <arg name="open_browser" default="true"/>
    <arg name="fullscreen_face" default="false"/>
    <arg name="record_session" default="false"/>


    <arg name="platform_delay" default="30.0"/>


    <!-- 30 seconds needed to launch platform.launch -->
    <include file="$(find t_top)/launch/platform.launch">
        <arg name="camera_2d_wide_enabled" value="$(arg camera_2d_wide_enabled)"/>
        <arg name="use_echo_cancellation" value="$(arg use_echo_cancellation)"/>
    </include>

    <include file="$(find t_top)/launch/perceptions.launch">
        <arg name="language" value="$(arg language)"/>
        <arg name="camera_2d_wide_enabled" value="$(arg camera_2d_wide_enabled)"/>
        <arg name="neural_network_inference_type" value="$(arg neural_network_inference_type)"/>

        <arg name="video_analyzer_3d_use_descriptor_yolo" value="$(arg video_analyzer_3d_use_descriptor_yolo)"/>
        <arg name="video_analyzer_3d_yolo_model" value="$(arg video_analyzer_3d_yolo_model)"/>
        <arg name="video_analyzer_3d_pose_enabled" value="$(arg video_analyzer_3d_pose_enabled)"/>
        <arg name="video_analyzer_3d_face_descriptor_enabled" value="$(arg video_analyzer_3d_face_descriptor_enabled)"/>
        <arg name="video_analyzer_3d_cropped_image_enabled" value="$(arg video_analyzer_3d_cropped_image_enabled)"/>

        <arg name="video_analyzer_2d_wide_use_descriptor_yolo" value="$(arg video_analyzer_2d_wide_use_descriptor_yolo)"/>
        <arg name="video_analyzer_2d_wide_yolo_model" value="$(arg video_analyzer_2d_wide_yolo_model)"/>
        <arg name="video_analyzer_2d_wide_pose_enabled" value="$(arg video_analyzer_2d_wide_pose_enabled)"/>
        <arg name="video_analyzer_2d_wide_face_descriptor_enabled" value="$(arg video_analyzer_2d_wide_face_descriptor_enabled)"/>
        <arg name="video_analyzer_2d_wide_cropped_image_enabled" value="$(arg video_analyzer_2d_wide_cropped_image_enabled)"/>

        <arg name="video_analyzer_confidence_threshold" value="$(arg video_analyzer_confidence_threshold)"/>
        <arg name="video_analyzer_nms_threshold" value="$(arg video_analyzer_nms_threshold)"/>
        <arg name="video_analyzer_person_probability_threshold" value="$(arg video_analyzer_person_probability_threshold)"/>
        <arg name="video_analyzer_pose_confidence_threshold" value="$(arg video_analyzer_pose_confidence_threshold)"/>

        <arg name="audio_analyzer_voice_probability_threshold" value="$(arg audio_analyzer_voice_probability_threshold)"/>
        <arg name="audio_analyzer_class_probability_threshold" value="$(arg audio_analyzer_class_probability_threshold)"/>

        <arg name="speech_to_text_type" value="$(arg speech_to_text_type)"/>
        <arg name="whisper_model" value="$(arg whisper_model)"/>
        <arg name="visualization" value="$(arg visualization)"/>
        <arg name="slam" value="$(arg slam)"/>
        <!-- Delays -->
        <arg name="audio_analyzer_perception_delay" value="$(eval arg('platform_delay') + 0.0)"/>
        <arg name="ego_noise_reduction_perception_delay" value="$(eval arg('platform_delay') + 5.0)"/>
        <arg name="music_beat_detector_perception_delay" value="$(eval arg('platform_delay') + 5.0)"/>
        <arg name="odas_perception_delay" value="$(eval arg('platform_delay') + 10.0)"/>
        <arg name="person_identification_perception_delay" value="$(eval arg('platform_delay') + 5.0)"/>
        <arg name="pose_classifier_perception_delay" value="$(eval arg('platform_delay') + 5.0)"/>
        <arg name="robot_name_detector_perception_delay" value="$(eval arg('platform_delay') + 15.0)"/>
        <arg name="rtabmap_perception_delay" value="$(eval arg('platform_delay') + 60.0)"/>
        <arg name="speech_to_text_perception_delay" value="$(eval arg('platform_delay') + 20.0)"/>
        <arg name="vad_perception_delay" value="$(eval arg('platform_delay') + 25.0)"/>
        <arg name="video_analyser_3d_perception_delay" value="$(eval arg('platform_delay') + 30.0)"/>
        <arg name="video_analyzer_2d_wide_perception_delay" value="$(eval arg('platform_delay') + 35.0)"/>
    </include>
    <include file="$(find t_top)/launch/behaviors.launch">
        <arg name="language" value="$(arg language)"/>
        <arg name="gender" value="$(arg gender)"/>
        <arg name="voice_generator_type" value="$(arg voice_generator_type)"/>
        <arg name="speaking_rate" value="$(arg speaking_rate)"/>
        <arg name="camera_2d_wide_enabled" value="$(arg camera_2d_wide_enabled)"/>
        <arg name="simulation" value="$(arg simulation)"/>
        <arg name="open_browser" value="$(arg open_browser)"/>
        <arg name="fullscreen_face" value="$(arg fullscreen_face)"/>
        <!-- Delays -->
        <arg name="dance_behavior_delay" value="$(eval arg('platform_delay') + 40.0)"/>
        <arg name="explore_behavior_delay" value="$(eval arg('platform_delay') + 41.0)"/>
        <arg name="face_behavior_delay" value="$(eval arg('platform_delay') + 120.0)"/>
        <arg name="face_following_behavior_delay" value="$(eval arg('platform_delay') + 42.0)"/>
        <arg name="gesture_behavior_delay" value="$(eval arg('platform_delay') + 43.0)"/>
        <arg name="led_animations_behavior_delay" value="$(eval arg('platform_delay') + 44.0)"/>
        <arg name="led_emotions_behavior_delay" value="$(eval arg('platform_delay') + 45.0)"/>
        <arg name="sound_following_behavior_delay" value="$(eval arg('platform_delay') + 46.0)"/>
        <arg name="sound_object_person_following_behavior_delay" value="$(eval arg('platform_delay') + 50.0)"/>
        <arg name="sound_player_behavior_delay" value="$(eval arg('platform_delay') + 55.0)"/>
        <arg name="talk_behavior_delay" value="$(eval arg('platform_delay') + 60.0)"/>
        <arg name="too_close_reaction_behavior_delay" value="$(eval arg('platform_delay') + 60.0)"/>
    </include>

    <node pkg="cloud_data" type="cloud_data_node.py" name="cloud_data_node">
        <param name="language" value="$(arg language)"/>
        <param name="timeout_s" value="20"/>
    </node>

    <include if="$(arg record_session)" file="$(find t_top)/launch/recording.launch">
        <arg name="camera_2d_wide_enabled" value="$(arg camera_2d_wide_enabled)"/>
    </include>
</launch>
