<launch>
    <arg name="use_echo_cancellation" default="false"/>
    <arg name="language" default="en"/>  <!-- Options: fr or en -->
    <arg name="speaking_rate" default="1.0"/> <!-- Range: [0.25, 4.0] -->
    <arg name="neural_network_inference_type" default="trt_gpu"/>
    <arg name="visualization" default="false"/>
    <arg name="slam" default="true"/>
    <arg name="simulation" default="false"/>
    <arg name="open_browser" default="true"/>
    <arg name="fullscreen_face" default="false"/>
    <arg name="output" default="log"/>

    <include file="$(find t_top)/launch/platform.launch">
        <arg name="use_echo_cancellation" value="$(arg use_echo_cancellation)"/>
    </include>

    <include file="$(find t_top)/launch/perceptions.launch">
        <arg name="language" value="$(arg language)"/>
        <arg name="neural_network_inference_type" value="$(arg neural_network_inference_type)"/>
        <arg name="visualization" value="$(arg visualization)"/>
        <arg name="slam" value="$(arg slam)"/>
        <arg name="output" value="$(arg output)"/>
    </include>
    <include file="$(find t_top)/launch/behaviors.launch">
        <arg name="language" value="$(arg language)"/>
        <arg name="speaking_rate" value="$(arg speaking_rate)"/>
        <arg name="simulation" value="$(arg simulation)"/>
        <arg name="open_browser" value="$(arg open_browser)"/>
        <arg name="fullscreen_face" value="$(arg fullscreen_face)"/>
    </include>

    <node pkg="cloud_data" type="cloud_data_node.py" name="cloud_data_node">
        <param name="language" value="$(arg language)"/>
        <param name="timeout_s" value="2"/>
    </node>
</launch>
