<launch>
    <arg name="visualization" default="false"/>
    <arg name="simulation" default="false"/>
    <arg name="camera_2d_wide_enabled" default="false"/>
    <arg name="use_echo_cancellation" default="true"/>
    <arg name="ec_volume_percent" default="90" />
    <arg name="rviz" default="false"/>
    <arg name="neural_network_inference_type" default="trt_gpu"/>
    <arg name="is_stand_alone" default="false"/>
    <arg name="verify_ssl" default="true"/>


    <!-- Platform nodes -->
    <include file="$(find t_top)/launch/platform.launch">
        <arg name="use_echo_cancellation" value="$(arg use_echo_cancellation)"/>
        <arg name="camera_2d_wide_enabled" value="false"/>
        <arg name="opentera_playback_node_enabled" value="true"/>
    </include>

    <!-- Perceptions -->
    <include file="$(find t_top)/launch/perceptions/ego_noise_reduction.launch"/>

    <include file="$(find t_top)/launch/perceptions/odas.launch">
        <arg name="visualization" value="$(arg visualization)"/>
        <arg name="rviz" value="$(arg rviz)"/>
        <arg name="use_echo_cancellation" value="$(arg use_echo_cancellation)"/>
    </include>

    <include file="$(find t_top)/launch/perceptions/video_analyzer.launch">
        <arg name="camera_2d_wide_enabled" value="$(arg camera_2d_wide_enabled)"/>
        <arg name="neural_network_inference_type" value="$(arg neural_network_inference_type)"/>

        <arg name="video_analyzer_3d_use_descriptor_yolo" value="false"/>
        <arg name="video_analyzer_3d_yolo_model" value="yolo_v7_tiny_coco"/>
        <arg name="video_analyzer_3d_pose_enabled" value="true"/>
        <arg name="video_analyzer_3d_face_descriptor_enabled" value="true"/>
        <arg name="video_analyzer_3d_cropped_image_enabled" value="false"/>

        <arg name="video_analyzer_2d_wide_use_descriptor_yolo" value="false"/>
        <arg name="video_analyzer_2d_wide_yolo_model" value="yolo_v7_coco"/>
        <arg name="video_analyzer_2d_wide_pose_enabled" value="false"/>
        <arg name="video_analyzer_2d_wide_face_descriptor_enabled" value="false"/>
        <arg name="video_analyzer_2d_wide_cropped_image_enabled" value="false"/>

        <arg name="visualization" value="$(arg visualization)"/>
    </include>


    <!-- Behaviors -->
    <include file="$(find t_top)/launch/behaviors/teleoperation.launch">
        <arg name="simulation" value="$(arg simulation)"/>
    </include>

    <include file="$(find t_top)/launch/behaviors/opentera.launch">
        <arg name="is_stand_alone" value="$(arg is_stand_alone)"/>
        <arg name="verify_ssl" value="$(arg verify_ssl)"/>
    </include>

    <include file="$(find t_top)/launch/behaviors/sound_following.launch">
        <arg name="simulation" value="$(arg simulation)"/>
        <arg name="min_activity" value="0.3"/>
    </include>

    <include file="$(find t_top)/launch/behaviors/face_following.launch">
        <arg name="simulation" value="$(arg simulation)"/>
    </include>

    <include file="$(find t_top)/launch/behaviors/sound_object_person_following.launch">
        <arg name="simulation" value="$(arg simulation)"/>
        <arg name="camera_2d_wide_enabled" value="$(arg camera_2d_wide_enabled)"/>
        <arg name="min_sst_activity" value="0.3"/>
    </include>

</launch>
