<launch>
    <arg name="language"/> <!-- Options: fr or en -->
    <arg name="camera_2d_wide_enabled"/>
    <arg name="neural_network_inference_type"/> <!-- Options: cpu, torch_gpu or trt_gpu -->

    <arg name="video_analyzer_3d_use_descriptor_yolo"/>
    <arg name="video_analyzer_3d_yolo_model"/>
    <arg name="video_analyzer_3d_pose_enabled"/>
    <arg name="video_analyzer_3d_face_descriptor_enabled"/>
    <arg name="video_analyzer_3d_cropped_image_enabled"/>

    <arg name="video_analyzer_2d_wide_use_descriptor_yolo"/>
    <arg name="video_analyzer_2d_wide_yolo_model"/>
    <arg name="video_analyzer_2d_wide_pose_enabled"/>
    <arg name="video_analyzer_2d_wide_face_descriptor_enabled"/>
    <arg name="video_analyzer_2d_wide_cropped_image_enabled"/>

    <arg name="video_analyzer_confidence_threshold"/>
    <arg name="video_analyzer_nms_threshold"/>
    <arg name="video_analyzer_person_probability_threshold"/>
    <arg name="video_analyzer_pose_confidence_threshold"/>

    <arg name="audio_analyzer_voice_probability_threshold"/>
    <arg name="audio_analyzer_class_probability_threshold"/>

    <arg name="speech_to_text_type"/> <!-- Options: google or whisper -->
    <arg name="whisper_model"/> <!-- Options: tiny, base, small, medium -->
    <arg name="visualization" default="false"/>
    <arg name="use_echo_cancellation" default="false"/>
    <arg name="slam" default="true"/>

    <arg name="audio_analyzer_perception_delay"/>
    <arg name="ego_noise_reduction_perception_delay"/>
    <arg name="music_beat_detector_perception_delay"/>
    <arg name="odas_perception_delay"/>
    <arg name="person_identification_perception_delay"/>
    <arg name="pose_classifier_perception_delay"/>
    <arg name="robot_name_detector_perception_delay"/>
    <arg name="rtabmap_perception_delay"/>
    <arg name="speech_to_text_perception_delay"/>
    <arg name="vad_perception_delay"/>
    <arg name="video_analyser_3d_perception_delay"/>
    <arg name="video_analyzer_2d_wide_perception_delay"/>

    <!-- RTAB-Map -->
    <include if="$(arg slam)" file="$(find t_top)/launch/perceptions/rtabmap.launch">
        <arg name="rtabmap_perception_delay" value="$(arg rtabmap_perception_delay)"/>
    </include>

    <!-- Video Analyzer -->
    <include file="$(find t_top)/launch/perceptions/video_analyzer.launch">
        <arg name="camera_2d_wide_enabled" value="$(arg camera_2d_wide_enabled)"/>
        <arg name="neural_network_inference_type" value="$(arg neural_network_inference_type)"/>

        <arg name="video_analyzer_3d_use_descriptor_yolo" value="$(arg video_analyzer_3d_use_descriptor_yolo)"/>
        <arg name="video_analyzer_3d_yolo_model" value="$(arg video_analyzer_3d_yolo_model)"/>
        <arg name="video_analyzer_3d_pose_enabled" value="$(arg video_analyzer_3d_pose_enabled)"/>
        <arg name="video_analyzer_3d_face_descriptor_enabled" value="$(arg video_analyzer_3d_face_descriptor_enabled)"/>
        <arg name="video_analyzer_3d_cropped_image_enabled" value="$(arg video_analyzer_3d_cropped_image_enabled)"/>

        <arg name="video_analyzer_2d_wide_use_descriptor_yolo" value="$(arg video_analyzer_2d_wide_use_descriptor_yolo)"/>
        <arg name="video_analyzer_2d_wide_yolo_model" value="$(arg video_analyzer_2d_wide_yolo_model)"/>
        <arg name="video_analyzer_2d_wide_pose_enabled" value="$(arg video_analyzer_2d_wide_pose_enabled)"/>
        <arg name="video_analyzer_2d_wide_face_descriptor_enabled" value="$(arg video_analyzer_2d_wide_face_descriptor_enabled)"/>
        <arg name="video_analyzer_2d_wide_cropped_image_enabled" value="$(arg video_analyzer_2d_wide_cropped_image_enabled)"/>

        <arg name="video_analyzer_confidence_threshold" value="$(arg video_analyzer_confidence_threshold)"/>
        <arg name="video_analyzer_nms_threshold" value="$(arg video_analyzer_nms_threshold)"/>
        <arg name="video_analyzer_person_probability_threshold" value="$(arg video_analyzer_person_probability_threshold)"/>
        <arg name="video_analyzer_pose_confidence_threshold" value="$(arg video_analyzer_pose_confidence_threshold)"/>

        <arg name="visualization" value="$(arg visualization)"/>

        <arg name="video_analyser_3d_perception_delay" value="$(arg video_analyser_3d_perception_delay)"/>
        <arg name="video_analyzer_2d_wide_perception_delay" value="$(arg video_analyzer_2d_wide_perception_delay)"/>
    </include>

    <!-- Pose Classifier -->
    <include file="$(find t_top)/launch/perceptions/pose_classifier.launch">
        <arg name="pose_classifier_perception_delay" value="$(arg pose_classifier_perception_delay)"/>
    </include>

    <!-- Ego Noise Reduction -->
    <include file="$(find t_top)/launch/perceptions/ego_noise_reduction.launch">
        <arg name="ego_noise_reduction_perception_delay" value="$(arg ego_noise_reduction_perception_delay)"/>
    </include>

    <!-- ODAS -->
    <include file="$(find t_top)/launch/perceptions/odas.launch">
        <arg name="visualization" value="$(arg visualization)"/>
        <arg name="use_echo_cancellation" value="$(arg use_echo_cancellation)"/>
        <arg name="odas_perception_delay" value="$(arg odas_perception_delay)"/>
    </include>

    <!-- Music Beat Detector -->
    <include file="$(find t_top)/launch/perceptions/music_beat_detector.launch">
        <arg name="music_beat_detector_perception_delay" value="$(arg music_beat_detector_perception_delay)"/>
    </include>

    <!-- VAD -->
    <include file="$(find t_top)/launch/perceptions/vad.launch">
        <arg name="vad_perception_delay" value="$(arg vad_perception_delay)"/>
    </include>

    <!-- Speech to Text -->
    <include file="$(find t_top)/launch/perceptions/speech_to_text.launch">
        <arg name="language" value="$(arg language)"/>
        <arg name="type" value="$(arg speech_to_text_type)"/>
        <arg name="whisper_model" value="$(arg whisper_model)"/>
        <arg name="speech_to_text_perception_delay" value="$(arg speech_to_text_perception_delay)"/>
    </include>

    <!-- Robot Name Detector -->
    <include file="$(find t_top)/launch/perceptions/robot_name_detector.launch">
        <arg name="neural_network_inference_type" value="$(arg neural_network_inference_type)"/>
        <arg name="robot_name_detector_perception_delay" value="$(arg robot_name_detector_perception_delay)"/>
    </include>

    <!-- Audio Analyzer -->
    <include file="$(find t_top)/launch/perceptions/audio_analyzer.launch">
        <arg name="neural_network_inference_type" value="$(arg neural_network_inference_type)"/>
        <arg name="audio_analyzer_voice_probability_threshold" value="$(arg audio_analyzer_voice_probability_threshold)"/>
        <arg name="audio_analyzer_class_probability_threshold" value="$(arg audio_analyzer_class_probability_threshold)"/>
        <arg name="audio_analyzer_perception_delay" value="$(arg audio_analyzer_perception_delay)"/>
    </include>

    <!-- Person Identification -->
    <include file="$(find t_top)/launch/perceptions/person_identification.launch">
        <arg name="person_identification_perception_delay" value="$(arg person_identification_perception_delay)"/>
    </include>

</launch>
