<launch>
    <arg name="camera_2d_wide_enabled"/>
    <arg name="use_echo_cancellation" default="false"/>
    <arg name="pulse_audio_sink" default="alsa_output.usb-IntRoLab_16SoundsUSB_Audio_2.0-00.analog-surround-40" />

    <include file="$(find t_top)/launch/platform/daemon_ros_client.launch"/>

    <include file="$(find t_top)/launch/platform/actuators.launch">
        <arg name="pulse_audio_sink" value="$(arg pulse_audio_sink)"/>
    </include>

    <include file="$(find t_top)/launch/platform/sensors.launch">
        <arg name="camera_2d_wide_enabled" value="$(arg camera_2d_wide_enabled)"/>
        <arg name="use_echo_cancellation" value="$(arg use_echo_cancellation)"/>
        <arg name="pulse_audio_source" value="alsa_input.usb-IntRoLab_16SoundsUSB_Audio_2.0-00.multichannel-input" />
        <arg name="pulse_audio_sink" value="$(arg pulse_audio_sink)" />
        <arg name="echo_cancellation_dest" value="odas_echo_cancelled" />
        <arg name="ec_volume_percent" value="90" />
    </include>

</launch>
