<launch>
    <arg name="camera_2d_wide_enabled"/>
    <arg name="output_directory" default="$(env HOME)/.ros/ttop/recordings/session"/>

    <node pkg="recorders" type="video_recorder_node.py" name="video_recorder_camera_3d_node">
        <param name="output_directory" value="$(arg output_directory)"/>
        <param name="filename_prefix" value="camera_3d_"/>

        <param name="video_format" value="rgb8"/>
        <param name="video_width" value="1280"/>
        <param name="video_height" value="720"/>
        <param name="video_codec" value="h265"/>
        <param name="video_bitrate" value="250000"/>
        <param name="video_delay_s" value="0.35"/>

        <param name="audio_format" value="signed_16"/>
        <param name="audio_channel_count" value="1"/>
        <param name="audio_sampling_frequency" value="16000"/>
        <param name="audio_codec" value="aac"/>

        <remap from="image" to="camera_3d/color/image_raw"/>
        <remap from="audio" to="audio_input_signed_16_16000"/>
        <remap from="video_recorder/filter_state" to="video_recorder_camera_3d/filter_state"/>
    </node>

    <node if="$(arg camera_2d_wide_enabled)" pkg="recorders" type="video_recorder_node.py" name="video_recorder_camera_2d_wide_node">
        <param name="output_directory" value="$(arg output_directory)"/>
        <param name="filename_prefix" value="camera_2d_wide_"/>

        <param name="video_format" value="bgr8"/>
        <param name="video_width" value="1280"/>
        <param name="video_height" value="720"/>
        <param name="video_codec" value="h265"/>
        <param name="video_bitrate" value="250000"/>
        <param name="video_delay_s" value="0.0"/>

        <param name="audio_format" value="signed_32"/>
        <param name="audio_channel_count" value="16"/>
        <param name="audio_sampling_frequency" value="16000"/>
        <param name="audio_codec" value="aac"/>

        <remap from="image" to="camera_2d_wide/image_rect"/>
        <remap from="audio" to="audio_input_before_ego_noise_signed_32_16000"/>
        <remap from="video_recorder/filter_state" to="video_recorder_camera_2d_wide/filter_state"/>
    </node>
</launch>
