<launch>
    <arg name="camera_2d_wide_enabled"/>
    <arg name="output_directory" default="$(env HOME)/.ros/ttop/recordings"/>

    <node pkg="recorders" type="video_recorder_node.py" name="video_recorder_camera_3d_node">
        <param name="output_directory" value="$(arg output_directory)"/>
        <param name="filename_prefix" value="camera_3d_"/>

        <rosparam param="video_streams">
            -   name: camera_3d
                format: rgb8
                width: 1280
                height: 720
                framerate: 15
                codec: h264
                bitrate: 2000000
                delay_s: 0.35
        </rosparam>
        <rosparam param="audio_streams">
            -   name: odas
                format: signed_16
                channel_count: 1
                sampling_frequency: 16000
                codec: aac
        </rosparam>

        <remap from="video_camera_3d" to="camera_3d/color/image_raw"/>
        <remap from="audio_odas" to="audio_input_signed_16_16000"/>
        <remap from="video_recorder/filter_state" to="video_recorder_camera_3d/filter_state"/>
    </node>

    <node if="$(arg camera_2d_wide_enabled)" pkg="recorders" type="video_recorder_node.py" name="video_recorder_camera_2d_wide_node">
        <param name="output_directory" value="$(arg output_directory)"/>
        <param name="filename_prefix" value="camera_2d_wide_"/>

        <rosparam param="video_streams">
            -   name: camera_2d_wide
                format: bgr8
                width: 1280
                height: 720
                framerate: 5
                codec: h264
                bitrate: 2000000
                delay_s: 0.0
        </rosparam>
        <rosparam param="audio_streams">
            -   name: raw
                format: signed_32
                channel_count: 16
                sampling_frequency: 16000
                codec: aac
        </rosparam>

        <remap from="video_camera_2d_wide" to="camera_2d_wide/image_rect"/>
        <remap from="audio_raw" to="audio_input_before_ego_noise_signed_32_16000"/>
        <remap from="video_recorder/filter_state" to="video_recorder_camera_2d_wide/filter_state"/>
    </node>
</launch>
