<launch>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="color_width" value="1280"/>
        <arg name="color_height" value="720"/>
        <arg name="align_depth" value="true"/>

        <arg name="color_fps" value="30"/>
        <arg name="infra_fps" value="30"/>
        <arg name="depth_fps" value="30"/>

        <arg name="filters" value="pointcloud"/>
    </include>
</launch>
