<launch>
    <arg name="language" default="en"/>  <!-- Options: fr or en -->

    <node pkg="control_panel" type="control_panel_node" name="control_panel_node" output="screen"/>

    <include file="$(find t_top)/launch/bringup.launch">
        <arg name="language" value="$(arg language)"/>
        <arg name="slam" value="false"/>
    </include>
</launch>
